<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<Scenarios>
		<Scenario Name="VaccineProducers">
			<MasterTable Name="Producers">
				<Columns>ID, Name, Popularity, YearsSinceFounding</Columns>
				<SelectProcedure>SelectProducers</SelectProcedure>
				<InsertProcedure>InsertProducer</InsertProcedure>
				<UpdateProcedure>UpdateProducer</UpdateProcedure>
				<DeleteProcedure>DeleteProducer</DeleteProcedure>
			</MasterTable>
			<DetailTable Name="Vaccine_Producers">
				<Columns>ID, Vaccine_Info_ID, Producer_ID, Sold</Columns>
				<SelectProcedure>SelectVaccineProducers</SelectProcedure>
				<InsertProcedure>InsertVaccineProducer</InsertProcedure>
				<UpdateProcedure>UpdateVaccineProducer</UpdateProcedure>
				<DeleteProcedure>DeleteVaccineProducer</DeleteProcedure>
				<MasterDetailLink MasterTable="Producers" MasterColumn="ID" DetailColumn="Producer_ID" />
			</DetailTable>
		</Scenario>
		<Scenario Name="Locations">
			<MasterTable Name="Countries">
				<Columns>ID, Name, Incidence</Columns>
				<SelectProcedure>SelectCountries</SelectProcedure>
				<InsertProcedure>InsertCountry</InsertProcedure>
				<UpdateProcedure>UpdateCountry</UpdateProcedure>
				<DeleteProcedure>DeleteCountry</DeleteProcedure>
			</MasterTable>
			<DetailTable Name="Cities">
				<Columns>ID, Name, Country_ID, IsCapital</Columns>
				<SelectProcedure>SelectCities</SelectProcedure>
				<InsertProcedure>InsertCity</InsertProcedure>
				<UpdateProcedure>UpdateCity</UpdateProcedure>
				<DeleteProcedure>DeleteCity</DeleteProcedure>
				<MasterDetailLink MasterTable="Countries" MasterColumn="ID" DetailColumn="Country_ID" />
			</DetailTable>
		</Scenario>
	</Scenarios>
</configuration>